@()(implicit request: RequestHeader, messages: Messages)
<h2>New Quote</h2>
<div style="width: 380px;">
	<label for="service-for" class="control-label">Service to:</label>
    <input type="text" id="service-for" class="form-control" ng-model="quote.serviceTo">
    <label for="service-description" class="control-label">Service description:</label>
    <input type="text" id="service-description" class="form-control" ng-model="quote.serviceDescription">
</div>
<div style="width: 75%;">
	<table class="table">
		<tr>
			<th class="fit">Quantity</th>
			<th>Description</th>
			<th class="fit">Price</th>
			<th class="fit">Total</th>
			<th class="fit">Action</th>
		</tr>
		<tr ng-repeat="item in quote.items">
			<td>{{item.quantity}}</td>
			<td>{{item.description}}</td>
			<td>{{item.price | currency	}}</td>
			<td>{{item.total | currency }}</td>
			<td><a href="#"> <span style="color: #C33737;" class="glyphicon glyphicon-remove"></span></a></td>
		</tr>
		<tr align="right"> 
			<td colspan="5"><b>Total:</b> {{quote.total | currency}}</td>
		</tr>
	</table>
</div>

<div>
	<form name="quoteForm" class="form-inline">
	    <input type="number" class="form-control" ng-model="item.quantity" placeholder="Qty">
	    <input type="text" class="form-control" ng-model="item.description" placeholder="Description">
	    <input type="number" class="form-control" ng-model="item.price" placeholder="Price">
	    <button  class="btn btn-default" ng-click="addItem(item)"><span class="glyphicon glyphicon-plus"></span> Add </button>
	</form>
</div>
<div>
	<button  class="btn btn-default" ng-click="saveQuote(quote)"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
</div>