@()(implicit request: RequestHeader, messages: Messages) 
@main(messages("app.name")) {
<div class="content-header">
    <h2></h2>
</div>
<div class="container-fluid" ng-controller="customerController">
    <div class="row row-eq-height">
        <div class="col-md-8 padding-md">
            <div class="content-box white-bg">
                <div class="container-fluid">
                    <h2>@messages("title.list.customers")</h2>
                    <table class="table table-hover" ng-show="customers.length > 0">
                        <thead>
                            <tr>
                                <th>@messages("customer.table.id")</th>
                                <th>@messages("customer.table.name")</th>
                                <th>@messages("customer.table.cnpj")</th>
                                <th>@messages("customer.table.registration")</th>
                                <th>@messages("customer.table.phone")</th>
                                <th colspan="3">@messages("table.actions")</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="customer in customers | orderBy: 'id'">
                            <td>{{ customer.id }}</td>
                            <td ng-click="showCustomerDetails(customer)" role="list">{{ customer.name }}</td>
                            <td>{{ customer.cnpj }}</td>
                            <td>{{ customer.registration }}</td>
                            <td ng-if="customer.phones.length > 0">{{ customer.phones[0].number }}</td>
                            <td ng-if="customer.phones.length === 0">@messages("field.empty")</td>
                            <td><a href="#" data-toggle="modal" data-target="#editCustomer" ng-click="getCustomerById(customer.id)" class="glyphicon glyphicon-edit"><span></span></a></td>
                            <td><a href="#" ng-click="deleteCustomer(customer.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </table>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-success pull-right" ng-click="clearForm()" data-toggle="modal" data-target="#newCustomer">
                            <span class="glyphicon glyphicon-plus"></span> @messages("command.new.customer")
                        </button>
                    </div>
                    <div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="@messages(" customer.new ")">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">@messages("customer.new")</h4>
                                </div>
                                <div class="modal-body">
                                    <form name="customerForm">
                                        <div class="form-group">
                                            <input type="hidden" ng-model="customer.id" ng-init="customer.id" readonly="true">
                                            <label for="customer-name" class="control-label">@messages("customer.name")</label>
                                            <input type="text" id="customer-name" class="form-control" ng-model="customer.name">
                                            <label for="customer-cnpj" class="control-label">@messages("customer.cnpj")</label>
                                            <input type="number" if="customer-cnpj" class="form-control" ng-model="customer.cnpj">
                                            <label for="customer-registration" class="control-label">@messages("customer.registration")</label>
                                            <input type="number" id="customer-registration" class="form-control" ng-model="customer.registration">
                                            <label for="customer-phone" class="control-label">@messages("customer.phone")</label>
                                            <input type="number" id="customer-phone" class="form-control" ng-model="customer.phones[0].number">
                                            <input type="hidden" ng-model="customer.phones.customerId" ng-init="customer.phones[0].customerId=0" readonly="true">
                                            <input type="hidden" ng-model="customer.phones.id" ng-init="customer.phones[0].id=0" readonly="true">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@messages("command.close")</button>
                                    <button type="button" class="btn btn-primary" ng-click="saveCustomer(customer)">@messages("command.save")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editCustomer" tabindex="-1" role="dialog" aria-labelledby='@messages("customer.edit")'>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearForm()"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">@messages("customer.edit")</h4>
                                </div>
                                <div class="modal-body">
                                    <form name="customerForm">
                                        <div class="form-group">
                                            <input type="hidden" ng-model="customer.id" ng-init="customer.id=0" readonly="true">
                                            <label for="customer-name" class="control-label">@messages("customer.name")</label>
                                            <input type="text" id="customer-name" class="form-control" ng-model="customer.name">
                                            <label for="customer-cnpj" class="control-label">@messages("customer.cnpj")</label>
                                            <input type="number" if="customer-cnpj" class="form-control" ng-model="customer.cnpj">
                                            <label for="customer-registration" class="control-label">@messages("customer.registration")</label>
                                            <input type="number" id="customer-registration" class="form-control" ng-model="customer.registration">
                                            <label for="customer-phone" class="control-label">@messages("customer.phone")</label>
                                            <div ng-repeat="phone in customer.phones">
                                                <input type="number" id="customer-phone" class="form-control" ng-model="phone.number">
                                                <input type="hidden" ng-model="phone.customerId" readonly="true">
                                                <input type="hidden" ng-model="phone.id" readonly="true">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="clearForm()" data-dismiss="modal">@messages("command.close")</button>
                                    <button type="button" class="btn btn-primary" ng-click="updateCustomer(customer)">@messages("command.update")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 padding-m">
            <div class="content-box white-bg">
                <div class="container-fluid">
                    <h2>@messages("customer.details")</h2>
                    <dl ng-if="customerDetails">
                        <dt>@messages("customer.table.id")</dt>
                        <dd>{{ customerDetails.id }}</dd>
                        <dt>@messages("customer.table.name")</dt>
                        <dd>{{ customerDetails.name }}</dd>
                        <dt>@messages("customer.table.cnpj")</dt>
                        <dd>{{ customerDetails.cnpj }}</dd>
                        <dt>@messages("customer.table.registration")</dt>
                        <dd>{{ customerDetails.registration }}</dd>
                        <dt>@messages("customer.table.phone")</dt>
                        <dd ng-if="customerDetails.phones.length === 0">@messages("field.empty")</dd>
                        <dd ng-repeat="phone in customerDetails.phones">{{phone.number}}</dd>
                    </dl>
                    <div ng-if="!customerDetails">
                        <h3>No data</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
