@(title: String)(content: Html)(implicit request: RequestHeader, messages : Messages)
<!DOCTYPE html>
<html ng-app="sistema">
    <head>
    	<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/app.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/angular.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/app.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/customerController.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/customerAPIService.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/value/configValue.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/filters/filters.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/directives.js")" ></script>
        <title>@title</title>
    </head>
    <body>
	    <nav class="nav nav-side-fixed">
	        <div class="nav-header">
	        </div>
	        <ul class="nav">
	            <li class="nav-toggled">
	                <a href="#">@messages("menu.customers")</a>
	            </li>
	        </ul>
	    </nav>
	     <div class="content">
	        @content
    	</div>
    </body>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.2.3.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
</html>