@()(implicit request: RequestHeader, messages: Messages)
<h2>@messages("customer.details")</h2>
<dl ng-if="customerDetails">
    <dt>@messages("field.id")</dt>
    <dd>{{ customerDetails.id }}</dd>
    <dt>@messages("customer.name")</dt>
    <dd>{{ customerDetails.name }}</dd>
    <dt>@messages("customer.cnpj")</dt>
    <dd>{{ customerDetails.cnpj | cnpj }}</dd>
    <dt>@messages("customer.registration")</dt>
    <dd>{{ customerDetails.registration }}</dd>
    <dt>@messages("customer.phone")</dt>
    <dd ng-if="customerDetails.phones.length === 0">@messages("field.empty")</dd>
    <dd ng-repeat="phone in customerDetails.phones">{{ phone.number | phone }}</dd>
    <dt>@messages("customer.street")</dt>
    <dd>{{ customerDetails.address.street }}</dd>
    <dt>@messages("customer.neighborhood")</dt>
    <dd>{{ customerDetails.address.neighborhood }}</dd>
    <dt>@messages("customer.city")</dt>
    <dd>{{ customerDetails.address.city }}</dd>
    <dt>@messages("customer.state")</dt>
    <dd>{{ customerDetails.address.state }}</dd>
    <dt>@messages("customer.cep")</dt>
    <dd>{{ customerDetails.address.cep | cep }}</dd>
</dl>
<div ng-if="!customerDetails">
    <h3>No data</h3>
</div>
