@(customer: models.Customer)(implicit request: RequestHeader, messages: Messages) 

@main(messages("customer.details", customer.razaoSocial)){
<div class="content-box">
    <div class="container-fluid white-bg border-bottom">
        <div class="headline">
          <h2>
            @messages("customer.details", customer.razaoSocial)
          </h2>
        </div>
        <dl class="dl-horizontal">
  			<dt>@messages("customer.name")</dt>
  			<dd>@customer.razaoSocial</dd>
		</dl>
		<dl class="dl-horizontal">
  			<dt>@messages("customer.cnpj")</dt>
  			<dd>@customer.cnpj</dd>
		</dl>
		<dl class="dl-horizontal">
  			<dt>@messages("customer.registration")</dt>
  			<dd>@customer.inscricaoMunicipal</dd>
		</dl>
			<div>
        		<a href="@routes.CustomerController.editCustomer(customer.id)" class="btn btn-primary">@messages("command.edit")<span class="glyphicon glyphicon-edit"></span></a>
        	</div>
        </div>
    </div>
</div>
}
