@(customers: Seq[models.Customer])(implicit request: RequestHeader, messages: Messages) 

@main(Messages("app.name")) {

<table class="table table-striped">
    <tr>
         <th>@messages("customer.id")</th>
         <th>@messages("customer.name")</th>
         <th>@messages("customer.cnpj")</th>
         <th>@messages("customer.registration")</th>
    </tr>
    @for(customer <- customers) { 
	<tr>
	 	<td>@customer.id</td>
	    <td>@customer.razaoSocial</td>
	    <td>@customer.cnpj</td>
	    <td>@customer.inscricaoMunicipal</td>
	</tr>
	    }
</table>
}
