@(customers: Seq[(models.Customer, Seq[Option[models.Phone]])])(implicit request: RequestHeader, messages: Messages) 

@main(messages("menu.list.customer")) {

<div class="content-box">
	<div class="container-fluid white-bg border-bottom"> 
		<div class="headline">
			<h2>@messages("menu.list.customer")</h2>
		</div>   
		<table class="table table-hover">
			<thead>
			    <tr>
			         <th>@messages("customer.table.id")</th>
			         <th>@messages("customer.table.name")</th>
			         <th>@messages("customer.table.cnpj")</th>
			         <th>@messages("customer.table.registration")</th>
			         <th>@messages("customer.table.phone")</th>
			         <th colspan="3">@messages("table.actions")</th>
			    </tr>
		    </thead>

		    @for(customer <- customers) {
				<tr>
				 	<td>@customer._1.id</td>
				    <td>@customer._1.name</td>
				    <td>@customer._1.cnpj</td>
				    <td>@customer._1.registration</td>
				    <td>@customer._2.head.map(_.number).getOrElse(messages("field.empty"))</td>
				    <td><a href="@routes.CustomerController.getCustomer(customer._1.id)"><span class="glyphicon glyphicon-search"></span></a></td>
				    <td><a href="@routes.CustomerController.editCustomer(customer._1.id)"><span class="glyphicon glyphicon-edit"></span></a></td>
				    <td>
						<a href="#" onClick="$.delete('@routes.CustomerController.deleteCustomer(customer._1.id)', function(data) {  location.reload();  });">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>    
				</tr>	
			    }
		</table>
	</div>
</div>
}