@()(implicit request: RequestHeader, messages: Messages) 
<div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="@messages("customer.new")">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">@messages("customer.new")</h4>
			    </div>
			    <div class="modal-body">
			       <form name="customerForm">
			       	  <div class="form-group">
			       	  	<input type="hidden" ng-model="customer.id" ng-init="customer.id=0" readonly="true">
			       	  	<label for="customer-name" class="control-label">@messages("customer.name")</label>
			            <input type="text" id="customer-name" class="form-control" ng-model="customer.name">
			            <label for="customer-cnpj" class="control-label">@messages("customer.cnpj")</label>	
			            <input type="number" if="customer-cnpj" class="form-control" ng-model="customer.cnpj">
			            <label for="customer-registration" class="control-label">@messages("customer.registration")</label>
			            <input type="number" id="customer-registration" class="form-control" ng-model="customer.registration">
			            <label for="customer-phone" class="control-label">@messages("customer.phone")</label>
			            <input type="number" id="customer-phone" class="form-control" ng-model="customer.phones[0].number">
			            <input type="hidden" ng-model="customer.phones.customerId" ng-init="customer.phones[0].customerId=0" readonly="true">
			            <input type="hidden" ng-model="customer.phones.id" ng-init="customer.phones[0].id=0" readonly="true">
			          </div>
	        		</form>
			    </div>
			    <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">@messages("command.close")</button>
			        <button type="button" class="btn btn-primary" ng-click="saveCustomer(customer)">@messages("command.save")</button>
			    </div>
		</div>
	</div>
</div>