@(customerForm: Form[models.CustomerFormData], id: Option[Long] = None)(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@main( 
  if(id.isEmpty){ 
    messages("customer.new")
  } else {
    messages("customer.edit")
  }) {

@request.flash.get("success").map { msg =>
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@msg</strong>
</div>
}

<div class="content-box">
    <div class="container-fluid white-bg border-bottom">
        <div class="headline">
            <h2>
            @if(id.isEmpty){ 
              @messages("menu.customer")
            } else {
              @messages("customer.details", customerForm("name").value.getOrElse(""))
            }
          </h2>
        </div>

      @b3.form(id.map(routes.CustomerController.updateCustomerWithPhone(_)).getOrElse(routes.CustomerController.saveCustomer)) {
        @b3.text( customerForm("customer.id"), '_class -> "hide-field", 'readonly -> true)
        @b3.text( customerForm("customer.name"), '_label -> messages("customer.name"))
        @b3.text( customerForm("customer.cnpj"), '_label -> messages("customer.cnpj"))
        @b3.text( customerForm("customer.registration"), '_label -> messages("customer.registration"))
        @if(customerForm("phones").indexes.isEmpty){
          @b3.text( customerForm("phones[0].number"), '_label -> messages("customer.phone"))
          <input type="text" id="phones_0_customerId" name="phones[0].customerId" value='@customerForm("customer.id").value' class="form-control hide-field" readonly>
        }
        @for(i <- customerForm("phones").indexes) {
          @b3.text( customerForm(s"phones[$i].number"), '_label -> messages("customer.phones", i+1))
          @b3.text( customerForm(s"phones[$i].id"), '_class -> "hide-field", 'readonly -> true)
          @b3.text( customerForm(s"phones[$i].customerId"), '_class -> "hide-field", 'readonly -> true)
        }
        <button type="submit" class="btn btn-primary"> @id.map(_ => messages("command.update")).getOrElse(messages("command.save")) </button>
      }
    </div>
  </div>
}

