@(customerForm: Form[models.CustomerFormData], id: Option[Long] = None)(implicit request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@main( 
  if(id.isEmpty){ 
    messages("customer.new")
  } else {
    messages("customer.edit")
  }) {

@request.flash.get("success").map { msg =>
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@msg</strong>
</div>
}

<div class="content-box">
    <div class="container-fluid white-bg border-bottom">
        <div class="headline">
            <h2>
            @if(id.isEmpty){ 
              @messages("menu.customer")
            } else {
              @messages("customer.details", customerForm("name").value.getOrElse(""))
            }
          </h2>
        </div>

      @b3.form(id.map(routes.CustomerController.updateCustomer(_)).getOrElse(routes.CustomerController.addCustomer)) {
        @b3.text( customerForm("name"), '_label -> messages("customer.name"))
        @b3.text( customerForm("cnpj"), '_label -> messages("customer.cnpj"))
        @b3.text( customerForm("registration"), '_label -> messages("customer.registration"))
        @b3.text( customerForm("phones[0].number"), '_label -> messages("customer.phone"))
        @b3.free('_id -> "idFormGroup") {
            <button type="submit" class="btn btn-primary"> @id.map(_ => messages("command.update")).getOrElse(messages("command.save")) </button>
        }

      }
    </div>
  </div>
}

